*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A0C1B;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {    
    background: #1C1938;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 10px;
}

.left{
    width: 50%;
    padding: 0 5rem 0 5rem;
    /* border: 1px green solid; */
}

.left h1{
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

.special_char{
    color: hsl(277, 64%, 61%);
}

.content{
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    /* border: 1px red solid; */
}

.content p {
    font-size: 1rem;
    padding-bottom: 2rem;
    line-height: 160%;
    color: lightgrey;
}

.stats_list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.stats_item span{
    text-transform: uppercase;
    font-size: 0.7rem;
    color: lightgrey;
}

.right{
    width: 50%;
    background:hsl(277, 64%, 61%);
    border-radius: 0 10px 10px 0;
}

.right img{
    width: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
    mix-blend-mode: multiply;
    position: relative;
    opacity: 0.7;
    
}


@media (max-width: 1340px) {
    .left h1{
        font-size: 2rem;
    }

    .content{
        padding-right: 1rem;
    }

    .content p {
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
        line-height: 120%;
    }

    .stats_list{
        margin-top: 2rem;
    }

    .stats_item h3{
        font-size: 1rem;
    }

    .stats_item span{
        font-size: 0.5rem;
    }
}

/* width 995px to 800px */ 
@media (max-width: 995px) {
    .left{
        padding: 0 2.5rem;
    }

    .left h1{
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }
}

/* mobile view */
@media (max-width: 800px) {
    .card {    
        background: #1C1938;
        display: flex;
        flex-direction: column-reverse;
        height: 80vh;
        width: 90vw;
        border-radius: 10px; 
    }

    .left{
        height: 70%;
        width: 100%;
        text-align: center;
        padding: 1.5rem;
        border-radius: 0 0 10px 10px;
    }

    .left h1{
        font-size: 1.5rem;
        text-align: center;
        padding: 0 1rem 1rem 1rem;
    }

    .content{
        padding: 0;
        display: flex;
        text-align: center;
    }

    .content p {
        font-size: 0.8rem;
        padding-bottom:1rem;
        line-height: 150%;
    }

    .stats_list{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 0;
        padding-top: 1rem;
    }

    .stats_item{
        padding-bottom: 1.5rem;
    }

    .stats_item{
        line-height: 100%;
    }

    .right{
        height: 30%;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .right img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
}